/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease-in-out;
    height: 100vh;
    overflow: hidden;
}

h1 {
    margin: 20px 0;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    border-bottom: 1px solid #ccc;
    gap: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
}

#loading {
    font-size: 1.2rem;
    color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#weatherDisplay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin-bottom: 20px;
}

#weatherDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 300px;
    height: 300px;
}

.weather-detail {
    display: flex;
    flex-direction: column;
}

.weather {
    width: 300px;
    height: 300px;
    text-align: center;
}

.weather-detail i {
    font-size: 40px;
}

.weather-condition {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.weather-location {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.weather-date,
.weather-time {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
}

.weather-temp {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.weather-icon {
    width: 65px;
    height: auto;
    margin-bottom: 10px;
}

.weather-details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.weather-detail-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 100px;
}

.icon {
    padding: 10px;
    font-size: 2rem;
    color: rgb(54, 132, 250);
    width: 30px;
}

.weather-detail {
    font-size: 1rem;
}

.forecast-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 70%;
    height: 300px;
    margin: 20px 0;
    scroll-behavior: smooth;
}

#dailyForecast {
    display: flex;
    overflow: hidden;
}

#hourlyForecast {
    display: none;
}

.forecast-item {
    min-width: 130px;
    height: 170px;
    text-align: center;
    padding: 0 10px 15px 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.forecast-item h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.forecast-item img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.forecast-item p {
    margin: 5px 0;
}

.changeButtons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.changeButtons button {
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
}

.selected-button {
    border: 7px solid #007bff;
}

.togglebutton {
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
}

.day-temp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.max-temp,
.hour-temp {
    font-size: 1.8rem;
    font-weight: bold;
}

.min-temp {
    font-size: 1rem;
    font-weight: normal;
}

@media (max-width: 768px) {
    #weatherDisplay {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .forecast-container {
        width: 100%;
    }

    .forecast-item {
        min-width: 120px;
    }
}
