/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg') no-repeat center center fixed;
    background-size: cover;
    transition: background 0.5s ease-in-out;
    height: 100vh;
    overflow: hidden;
}

h1 {
    margin: 20px 0;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    border-bottom: 1px solid #ccc;
    gap: 20px;
}

input[type="text"] {
    padding: 8px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
}


#loading {
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.weather {
    width: 300px;
    height: 300px;
    text-align: center;
}

#weatherDisplay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin-bottom: 20px;
}

#weatherDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 300px;
    height: 300px;
}

.weather-detail {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.weather-detail-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 75px;
}

.weather-condition {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.weather-location {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.weather-date,
.weather-time {
    font-size: 1rem;
    color: #ddd;
    margin-bottom: 5px;
}

.weather-temp {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffdd57;
}

.weather-icon {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
}

.weather-details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.weather-detail-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon {
    padding: 10px;
    font-size: 2rem;
    color: #ffdd57;
    width: 30px;
}

.forecast-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 64%;
    height: 300px;
    margin: 20px 0;
    scroll-behavior: smooth;
}

#dailyForecast {
    display: flex;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
}

#hourlyForecast {
    display: flex;
    padding-left: 5px;
    padding-top: 5px;
}

.forecast-item {
    min-width: 130px;
    height: 170px;
    text-align: center;
    padding: 0 10px 30px 10px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.forecast-item h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.forecast-item img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.changeButtons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 5px;
}

.changeButtons button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #28a745; 
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
    transition: background 0.3s ease;
}

.changeButtons button:hover {
    background-color: #218838;
}

.changeButtons .selected-button {
    background-color: #218838;
}

.togglebutton {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
    transition: background 0.3s ease;
}

.togglebutton:hover {
    background-color: #0056b3;
}

.day-temp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.max-temp,
.hour-temp {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffdd57;
}

.min-temp {
    font-size: 1rem;
    font-weight: normal;
}

@media (max-width: 768px) {
    #weatherDisplay {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .forecast-container {
        width: 100%;
    }

    .forecast-item {
        min-width: 120px;
    }
}
